#logo {
    font-size: 1.5em;
    color: green;
    padding: 0;
}

#logo-image {
    width: 132px;
    height: 60px;
}

a.header-link {
    font-size: 1.2em;
    margin: 0 20px;
    color: green;
    font-weight: bold;
}

a.header-link:focus {
    color: green;
}

a.header-link:hover {
    color: green;
    text-decoration: none;
}

a.active-link {
    border-bottom: 2px solid green;
}
