.proposals-wrapper {
    display: grid;
    grid-template-columns: 200px auto;
}

.week-days-menu {
    margin-top: 10px;
    height: 100%;
    background: #f8f9fa;
}

ul.week-days {
    position: fixed;
    list-style: none;
    padding-left: 15px;
}

li.week-day {
    padding: 2px;
    margin: 8px;
}

.icons:hover {
    transform: scale(1.3);
}

ul.proposals-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

.proposal {
    padding: 10px;
}

.proposal-card-header {
    background: green !important;
    color: white;
}

a.card-link {
    color: white;
}

a.card-link:hover {
    color: goldenrod;
}
#add-proposal {
    background: green !important;
}

#add-proposal:hover {
    background: #16e331 !important;
}

.proposal-submit {
    display: flex;
    justify-content: center;
}

.proposal-details {
    display: grid;
    grid-template-columns: 30px auto;
}

.proposal-icon {
    margin-top: 3px;
    color: green;
}

.card-subtitle {
    margin: 0 !important;
}
